@import "null.css";
/* Подключение шрифтов */
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Taviraj:regular&display=swap");
/* ------------------------------------------------------------------------------------------------- */

body {
	font-family: "Lato";
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 810px;
	margin: 30px auto;
}
/* ------------------------------------------------------------------------------------------- */
.header {
}
.header__title {
	margin: 0px 0px 26px 0px;
}
.header__title h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}
.header__subtitle {
	max-width: 810px;
	font-size: 16px;
	line-height: 160%;
	color: #787a80;
	margin: 0px 0px 40px 0px;
}
.nav {
	display: inline-block;
	margin: 0px 415px 0px 0px;
}
.calendar {
	display: inline-block;
	margin: 0px 24px 0px 0px;
}
.calendar::before {
	content: "";
	width: 16px;
	height: 16px;
	padding: 0px 0px 0px 24px;
	display: inline-block;
	background: url("../img/calendar.svg") left/ 16px no-repeat;
}
.clock {
	display: inline-block;
}
.clock::before {
	content: "";
	width: 16px;
	height: 16px;
	padding: 0px 0px 0px 24px;
	display: inline-block;
	background: url("../img/clock.svg") left / 16px no-repeat;
}

.share {
	color: #1e212c;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	display: inline-block;
	max-width: 142px;
}
.share a {
	margin: 0 0 0 12px;
}
.facebook {
	display: inline-block;
	width: 10px;
	height: 18px;
	background: url("../img/facebook.svg") left / 10px 18px no-repeat;
}
.twitter {
	display: inline-block;
	width: 18px;
	height: 14px;
	background: url("../img/twitter.svg") left/ 18px 14px no-repeat;
}
.in {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/inst.svg") left/ 16px 16px no-repeat;
}
.header__image {
	margin: 0px 0px 60px 0px;
}
/* -----------------------------------------------MAIN--------------------------------------- */
.main {
}
.main__title {
	margin: 0px 0px 24px 0px;
}
.main__title h2 {
	color: #1e212c;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.main__text {
	margin: 0px 0px 48px 0px;
}
.main__text p {
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}
.main__text p:not(:last-child) {
	margin: 0 0 32px 0;
}
.main__citate {
	margin: 0px 0px 48px 0px;
}
.main__citate h2 {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
	padding: 0px 0px 0px 58px;
	background: url("../img/braces.svg") 0 0 / 28px 20px no-repeat;
}
.main__list {
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	margin: 0px 0px 24px 0px;
}
.main__list p {
	margin: 0 0 24px 0;
}
.main__list li {
	padding: 0px 0px 4px 32px;
}
.main__list li::before {
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 16px 0 -32px;
	background: url("../img/Vector.svg") 0 0/ 16px no-repeat;
}
.main__list li:last-child {
	padding: 0 0 0 32px;
}
.footer {
}
.footer__text {
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
	margin: 0px 0px 20px 0px;
}
.footer__btn {
	text-align: center;
}
.button {
	text-transform: uppercase;
	display: inline-block;
	font-size: 30px;
	padding: 10px;
	color: rgb(0, 0, 0);
	box-shadow: 0 5px 10px 3px black;
	background: rgb(18, 190, 182);
	border: 7px solid rgb(173, 25, 25);
}
.button:hover {
	margin: 3px 0 0 0;
	box-shadow: 0 2px 10px 3px black;
}
.button:active {
	color: rgb(0, 255, 200);
	background: rgb(207, 141, 207);
}
