/* Обнуление */
@import "null.css";

/* Подключение шрифтов */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@font-face {
	font-family: "Codename Coder Free 4F";
	src: url("../fonts/CodenameCoderFree4F-Bold.woff2") format("woff2"), url("../fonts/CodenameCoderFree4F-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* -------------------------------------------------------- */

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}

body {
	font-family: "Codename Coder Free 4F";
}
/* --------------------------------------------------------------- */
.header {
	width: 90%;
	margin: 0 auto;
}
.header__title {
	text-align: center;
	font-size: 60px;
}
/* ----------------------------------------------------------------- */
.main {
	margin: 0px 0px 20px 0px;
}
.game {
	padding: 20px;
	width: 100%;
	background-color: rgb(42, 56, 95);
}

.game__line1 {
	width: 50px;
	height: 50px;
	background-color: rgb(37, 197, 184);
}

.game__line1:hover ~ .game__line2 {
	visibility: visible;
}

.game__line2 {
	visibility: hidden;
	width: 50px;
	height: 50px;
	background-color: rgb(37, 197, 184);
}

.game__line2:hover {
	visibility: visible;
}

.game__line3-1 {
	visibility: hidden;
	width: 100%;
	height: 50px;
	background-color: rgb(37, 197, 184);
}

.game__line3:hover {
	visibility: visible;
}

.game__line2:hover ~ .game__line3 {
	visibility: visible;
}

.game__line3 {
	visibility: hidden;
	width: 100%;
	height: 50px;
	background-color: rgb(37, 197, 184);
}

.game__line3:hover {
	visibility: visible;
}

.game__line2:hover ~ .game__line3 {
	visibility: visible;
}

.game__line4 {
	visibility: hidden;
	width: 50px;
	height: 150px;
	margin: 0 0 0 auto;
	background-color: rgb(37, 197, 184);
}

.game__line4:hover {
	visibility: visible;
}

.game__line3:hover ~ .game__line4 {
	visibility: visible;
}
.game__line5 {
	visibility: hidden;
	width: 50px;
	height: 80px;
	margin: 0 0 0 auto;
	background-color: rgb(37, 197, 184);
}

.game__line5:hover {
	visibility: visible;
}

.game__line4:hover ~ .game__line5 {
	visibility: visible;
}

.game__line6 {
	visibility: hidden;
	width: 51%;
	height: 20px;
	margin: 0 0 0 auto;
	background-color: rgb(37, 197, 184);
}

.game__line6:hover {
	visibility: visible;
}
.game__line5:hover ~ .game__line6 {
	visibility: visible;
}

.game__line7 {
	visibility: hidden;
	width: 25px;
	height: 70px;
	margin: 0 auto;
	background-color: rgb(37, 197, 184);
}

.game__line7:hover {
	visibility: visible;
}
.game__line6:hover ~ .game__line7 {
	visibility: visible;
}
.game__line8 {
	visibility: hidden;
	width: 51.1%;
	height: 50px;
	background-color: rgb(37, 197, 184);
}

.game__line8:hover {
	visibility: visible;
}
.game__line7:hover ~ .game__line8 {
	visibility: visible;
}

.game__line9 {
	visibility: hidden;
	width: 50px;
	height: 70px;
	background-color: rgb(37, 197, 184);
}

.game__line9:hover {
	visibility: visible;
}
.game__line8:hover ~ .game__line9 {
	visibility: visible;
}

.game__line10 {
	visibility: hidden;
	width: 50px;
	height: 20px;
	background-color: rgb(204, 8, 8);
}

.game__line10:hover {
	visibility: visible;
}
.game__line9:hover ~ .game__line10 {
	visibility: visible;
}

.game__image {
	margin: 20px 0px 0 0px;
	text-align: center;
	visibility: hidden;
}

.game__image:hover {
	visibility: visible;
}
.game__line10:active ~ .game__image {
	visibility: visible;
}

p {
	color: white;
	font-size: 35px;
}

/* ------------------------------FOOTER--------------------------------------------- */

.footer {
	margin: 0 auto;
	width: 90%;
	padding: 20px;
	background-color: rgb(78, 92, 156);
	border-radius: 20px;
}
.footer__btn {
	width: 100%;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.footer__btn a {
	font-size: 30px;
	width: 20%;
	color: white;
	background-color: rgb(17, 86, 197);
}
.button {
	display: inline-block;
	padding: 20px 20px;
	border: 2px solid white;
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0 5px 0 0 white;
}
.button:hover {
	background-color: rgb(10, 140, 192);
	margin: 1px 0px 0px 0px;
	box-shadow: 0 4px 0 0 white;
}

.button:active {
	margin: 4px 0px 0px 0px;
	box-shadow: inset 0 0px 12px 0 rgb(0, 0, 0);
}
